ffmpeg-2.5.2/si/
myexample/*/build*/
myexample/*/ffmpeg/
myexample/*/*.pro
myexample/*/*.user
myexample/*/说明*
myexample/*/*/build*/
myexample/*/*/ffmpeg/
myexample/*/*/*.pro
myexample/*/*/*.user
myexample/*/*/说明*
si/
*.sln
*.sdf
*.suo
*.v12*
ipch/
Debug/
*sdf
*.si4project
test.txt
